.roi-calculator-wrapper {
	width: 100%;
	height: 600px;
	background-image: url(background.png);
	background-position: center;
	background-size: cover;
	float: left;
	font-family: 'arial';
	text-align: center;
}
.roi-calculator {
	width: 600px;
	height: 450px;
	background: #fff;
	float: none !important;
	margin: 50px auto;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0px 10px 40px -15px #000;	
	max-width: 90%;
}
.roi-calculator-main {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.roi-calculator-main h1 {
	all: unset;
	font-size: 24px;
	font-weight: 700;
	font-family: arial;
	text-align: center;
	width: 100%;
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #ddd;
}

.roi-form-group {
	width: 50%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

.roi-form-label {
	font-weight: bold;
	font-size: 14px;
	color:#03929D; 
}

.roi-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 18px;
	padding-left: 10px;
	box-sizing: border-box;
	text-align: center;
}
.rthoi-form-input:focus {
	outline: 0px;
	box-shadow: inset 0px 0px 5px #ddd;
}
.roi-result-label {
	font-size: 14px;
	color:#777;
	display: block;
}
.roi-result-number {
	display: block;
	font-size: 30px;
	font-weight: 900;
	color: #555;
}
.roi-form-group.full{
	width: 100%;
	text-align: center;
}
.roi-form-group.full.border-bottom {
	border-bottom: 1px solid #ddd;
}
.roi-form-group.full .roi-result-label {
	font-size: 20px;
}
.roi-form-group.full .roi-result-number {
	font-size: 40px;
	color: #03929D;
}

.roi-seprator {
	margin: 10px 0px;
	width:100%;
	float: left;
	
}
.roi-form-group hr {
	width: 20%;
	height: 2px;
	background: #eee;
	border-left: 10px solid #03929D;
	border-right:10px solid #03929D;
	border-radius: 10px;
	border-top: transparent;
	border-bottom: transparent;
}
.roi-print-out {
	background: linear-gradient(#fff , #eee);
	border: 1px solid #ddd;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

@media (max-width:760px) {
	.roi-form-group {
		width: 100%;
	}
	.roi-seprator {
		margin: 0px;
	}
	.roi-form-input {
		height: 30px;
	}
	.roi-result-number {
		font-size: 20px;
	}
	.roi-calculator {
		margin: 10px auto;
		float: left;
		margin-left: 5%;
		height: 550px;
	}
	.roi-form-group.full .roi-result-number {
		font-size: 30px;
	}
}
